* {
    margin: 0px;
    padding: 0px;
}

.first {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    margin-right: 100px;
}

.form {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 65vh;
    margin: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.575);
}

.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 31px;
    align-items: center;
}

.ceta {
    color: #d22020;
    font-weight: bolder;
}

button {
    background-color: #d22020;
    margin-top: 30px;
    height: 45px;
    width: 350px;
    font-size: 35px;
    border-radius: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.external {
    background-color: #d22020;
    width: 100%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 55px;
    padding-top: 30px;
}

hr {
    width: 300px;
    margin-left: 40%;
    margin-top: 20px;
    border-color: #f2f10c;
}

.second {
    background-color: #d22020;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.image {
    width: 600px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.63);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 35px;
    justify-content: center;
    padding: 0px 50px 0px 50px;
}

.us {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20px;
    font-size: 23px;
    padding: 0px 50px 0px 50px;
}

.mission {
    color: #f2f10c;
}

.activity {
    color: black;
    border-color: #d22020;
}

.third {
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    height: 80vh;
    width: 300px;
    margin: 250px 50px 100px 50px;
    border-color: #d22020;
}

.acess {
    width: 300px;
    height: 50px;
    margin: 150px 50px 0px 50px;
    background-color: white;
    border-color: #d22020;
}

.network {
    color: #d22020;
}

.social {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

h3 {
    color: #d22020;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.sub {
    width: 80px;
    height: 80px;
}

.text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
}

.link {
    text-align: center;
}

.gallery {
    background-color: #d22020;
    text-align: center;
}

.photograph {
    width: 300px;
    height: 200px;
    margin: 20px 10px 10px 10px;
}

footer {
    background-color: #f2f10c;
    width: 100%;
    height: 20px;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.finish {
    font-size: 17px;
}

.contact {
    color: black;
    font-size: 17px;
}

@media screen and (max-width: 880px) {

    .first {
        display: block;
        height: 140vh;
    }

    .logo {
        width: 300px;
        margin-left: 100px;
    }

    .form {
        width: 400px;
        height: 450px;
        margin-left: 35px;
    }

    button {
        width: 400px;
    }

    h1 {
        font-size: 50px;
    }

    hr {
        margin-left: 100px;
    }

    .second {
        display: block;
        width: 100%;
        height: 190vh;
    }

    .image {
        width: 400px;
        margin: 50px 0px 30px 0px;
    }

    .third {
        height: 100vh;
    }

    .box {
        margin-top: 90px;
        margin-bottom: 10px;
        height: 95vh;
    }

    .text {
        font-size: 15px;
    }

    .acess {
        margin-top: 50px;
    }
}